@model IEnumerable<Portal_Kulinarny.Models.ViewModels.NewestRecipesViewModel>

<div id="NewestRecipes">
    @foreach (var item in Model)
    {
        <div class="UnderInfo">
            <h3><b> @Html.DisplayFor(modelItem => item.Title)</b></h3>
            <a href="@Url.Action("Details", new { id = item.RecipeId })">
                <img src="@Url.Content(item.Image)" alt="image" width="120" height="120" class="middlePhoto"/>
            </a>
        </div>
    }
</div>
