@model IEnumerable<Portal_Kulinarny.Models.Recipe>

<h3 class="title text-center"><b>Wyniki wyszukiwania</b></h3>
<hr />
@if (!Model.Any())
{
    <p class="text-center"> Nie znaleziono przepisów spełniających podane kryteria</p>
}
else
{
    @Html.Partial("RecipeList", Model)
}