@model IEnumerable<Portal_Kulinarny.Models.Recipe>

<h1 class="title">Wyniki wyszukiwania</h1>
<br />
@if (!Model.Any())
{
    <p> Nie znaleziono przepisów spełniających podane kryteria</p>
}
else
{
    @Html.Partial("RecipeList", Model)
}