@model IEnumerable<Portal_Kulinarny.Models.Recipe>

<h3 class="textMiddle"><b>Lista twoich przepisów</b></h3>
<hr />
<p>
    <h4 class="textMiddle"><b>@Html.ActionLink("Stwórz nowy przepis!", "Create")</b></h4>
</p><br />

@Html.Partial("RecipeList", Model)