@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Witaj!</h1><br />
    <p>Tu bedzie obrazek :)</p>
</div>


<div class="inMiddle" >
    <h2 class="textMiddle"><b>Najnowsze przepisy</b></h2>
    <hr />
    @Html.Action("NewestRecipes", "Recipes")


    <h2 class="textMiddle"><b>Najwyżej oceniane przepisy</b></h2>
    <hr />
    @Html.Action("BestRated", "Recipes")
</div>

<link href="~/Content/MainStyles/HomePage.css" rel="stylesheet" />