@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Witaj!</h1><br />
    <p>Tu bedzie obrazek :)</p>
</div>

<h2>Najnowsze przepisy</h2>
    @Html.Action("NewestRecipes", "Recipes")

<h2>Najwyżej oceniane przepisy</h2>
    @Html.Action("BestRated", "Recipes")

<link href="~/Content/MainStyles/HomePage.css" rel="stylesheet" />