@model IEnumerable<Portal_Kulinarny.Models.Comment>

<div id="CommentsList">@Html.Partial("CommentsList", Model)</div>


@if (!User.Identity.IsAuthenticated)
{
    <text><a href="/Account/Login?ReturnUrl=@Request.Url.AbsolutePath" title="Zaloguj się">Zaloguj się </a>, aby dodwać komentarze</text>
    <br />
    return;
}
@using (Ajax.BeginForm("Create", "Comments", new AjaxOptions { UpdateTargetId = "CommentsList", OnComplete = "clearContent()", InsertionMode = InsertionMode.Replace }))
{
    <div style="padding:5px">
        <div class="editor-field">
            <textarea cols="70" rows="3" id="Content" name="Content"></textarea>
        </div>
        <input type="hidden" id="RecipeId" value="@ViewData["id"].ToString()" name="RecipeId" />
        <input type="hidden" id="userName" value="@User.Identity.Name" name="userName" />
        <br />
        <p>
            <input id="addComment" type="submit" name="addComment" value="Dodaj komentarz" class="btn btn-default" />
        </p>
    </div>
}

<script src="~/Scripts/jquery-2.1.3.js"></script>
