@model Portal_Kulinarny.Models.Vote
@{
    if (ViewBag.VoteScores == null)
    {
        ViewBag.VoteScores = ViewData["VoteScores"];
    }
    
    @using (Html.BeginCollectionItem("Votes"))
    {
        @Html.AntiForgeryToken()

        <span class="ingEditorItemName">@Html.LabelFor(model => model.VoteScore)</span>
         @Html.DropDownListFor(model => model.VoteScore, (SelectList)ViewBag.VoteScores)
    }
}